/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  --clr-primary: #2680c0;
  --clr-primary-dark: hsl(205, 100%, 21%);
  --clr-primary-light: hsl(205, 84%, 74%);
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --ff-primary: "Catamaran", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --large-screen-width: 1170px;
  --small-screen-width: 90vw;
  --fixed-width: 50rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/* more global css */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-primary);
  background: var(--clr-primary-light);
}
.OuterContainer {
  /* width: 100vw; */
  height: 100vh;
  position: relative;
}
.container {
  max-width: 70%;
  /* height: 100%; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}

.singleItem {
  width: 100%;
  padding-top: 1rem;
}
.singleItemContainer {
  display: flex;
  padding: 0.5rem;
  height: 4rem;
  border-bottom: 1px solid rgb(109, 107, 107);
  align-items: center;
  justify-content: space-between;
}
.imgBit {
  width: 50px;
  height: 50px;

  border-radius: 50%;
  object-fit: cover;
}

.itemPart1 {
  flex: 1;
  margin-left: 1rem;
}

.itemPart2 {
  margin-right: 0;
}
p {
  font-weight: 600;
}
.para {
  color: var(--clr-grey-5);
}
.inpContainer {
  height: 3rem;
  padding: 0.5rem 1rem;
}
.inp {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}
.addItem {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
  background-color: #fff;
  /* margin-top: 1rem; */
  border-bottom: 1px solid black;
}

.additembtn {
  background-color: transparent;
  border: none;
  outline: none;
}
.icon {
  font-size: 25px;
  font-weight: bolder;
  color: gray;
  cursor: pointer;
}
.icon:hover {
  color: green;
}
.homebtn {
  background-color: #f1f5f8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding-top: 1rem;
}
.Homebtn {
  color: grey;
  font-size: 18px;
  font-weight: 500;
}
.red {
  color: red;
}
.green {
  color: greenyellow;
}
.tohome {
  background-color: teal;
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 0.3rem 2rem;
  color: #fff;
  border-radius: 0.5rem;
}
.page1 {
  background-color: var(--clr-grey-10);
  padding: 1rem;
  flex: 6;
}
.page2 {
  background-color: var(--clr-grey-10);
  flex: 6;
  padding: 1rem;
}
.deleteBtn {
  margin-left: 1rem;
  background: transparent;
  border: none;
  font-size: 20px;
}
.deleteBtn:hover {
  color: rgb(223, 8, 8);
  cursor: pointer;
}
